<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site TOP</title>
</head>
<body>
    <div id="menu">
        <nav class="nav-menu">
            <ul>
                <li>Home</li>
                <li>Receitas Salgadas</li>
                <li>Receitas Doces</li>
            </ul>
        </nav>
    </div>
    <div id="content">
        <section class="section">
            <div id="receitas-salgadas">
                <ul>
                    <li>Receita 1</li>
                    <li>Receita 2</li>
                    <li>Receita 3</li>
                    <li>Receita 4</li>
                    <li>Receita 5</li>
                    <li>Receita 6</li>
                </ul>
            </div>
            <div id="receitas-doces">
                <ul>
                    <li>Receita 1</li>
                    <li>Receita 2</li>
                    <li>Receita 3</li>
                    <li>Receita 4</li>
                    <li>Receita 5</li>
                    <li>Receita 6</li>
                </ul>
            </div>
        </section>
        <section class="section">
            <div class="imagem"><img src="../images/beefwellington.jpg" style="width: 100%;"></div>
            <div class="imagem"><img src="../images/burger-with-melted-cheese.jpg" style="width: 100%;"></div>
            <div class="imagem"><img src="../images/cuscuz-paulista.webp" style="width: 100%;"></div>
        </section>
        <section>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/K4DyBUG242c?si=y5cEi7h1SB6YL7gE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </section>
    </div>
</body>
</html>